body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Open Sans", cursive; }

header h1, h2 {
  color: #white; }

.site-footer {
  background-image: linear-gradient(#E57492, white);
  padding: 20px 0; }

/* .btn-social-icon {
  margin-left:15px; */
}

.btn-light {
  color: #D31245;
}

.jumbotron {
  margin: 0;
  padding: 30px 10px 30px;
  background-image: radial-gradient(#D31245 40%, #5dccdb);
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: #D31245; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637dd; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }

#reserveModal .modal-header {
  background-color: #D31245;
  color: white; }

#loginModal .modal-header {
  background-color: #D31245;
  color: white; }

#contractCoverThumb {
  width: 70%;

}

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px;
}

/* .nav-link {
  background-color: #D31245;
  color: white;
} */

.nav-item a,
.tab-content {
  border: solid 1px #D31245;
}


.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover,.nav-pills .nav-link.active:focus{
  background-color:#D31245;
  color:white;
  font-weight:550;

  }

